.xa-drag-proxy {
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  position: absolute;
  z-index: 99999;
}
.xa-drag-proxy .xa-drag-clone {
  opacity: 0.7;
}
.xa-drag-proxy .drag-drop-indicator {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -20px;
  background-repeat: no-repeat;
  background-color: transparent;
}
.xa-drag-proxy .drag-drop-indicator.valid {
  background-image: url(../img/ok_icon.png);
}
.xa-drag-proxy .drag-drop-indicator.invalid {
  background-image: url(../img/error_icon.png);
}
