.uploadWrapper .dropToUpload {
  display: none;
  width: 100%;
  padding: 0;
  border: dashed 2px #666;
  background-color: transparent;
  text-align: center;
  margin-top: 10px;
}
.uploadWrapper input {
  display: block;
}
.uploadWrapper .fileCanDrop {
  background-color: #b6ff00;
}
