.xmlData {
  /* .tabMasterContent {
        .tabContainer ul.nav li a {
            padding: 3px 5px;
            font-size:11px;
        }
    } */
}
.xmlData .masterTabs {
  margin-left: 5px;
}
.xmlData .tabMasterContent,
.xmlData .htmlContent {
  margin-left: 5px;
  margin-right: 5px;
}
.xmlData .htmlContent {
  padding: 10px;
  background-color: white;
}
.xmlData .tabContainer ul.childTabs {
  float: left;
}
.xmlData .tabContainer .printContainer {
  float: right;
  cursor: pointer;
}
.xmlData .tabContainer .printContainer img {
  height: 24px;
}
.xmlData .tabContainer ul.childTabs > li > a {
  padding: 1px 10px;
  background-color: #b1c7e1;
}
.xmlData .tabContainer ul.childTabs > li > a.active {
  background-color: white;
}
.xmlData.fitParentWidthHeight .htmlContent.inheritFit {
  top: 60px;
}
