*.suo
packages/EntityFramework.6.0.0/Content/Web.config.transform
*.transform
packages/EntityFramework.6.0.0/EntityFramework.6.0.0.nupkg
*.dll
*.xml
packages/EntityFramework.6.0.0/tools/about_EntityFramework.help.txt
*.psd1
packages/EntityFramework.6.0.0/tools/EntityFramework.psm1
*.ps1
packages/EntityFramework.6.0.0/tools/migrate.exe
*.nupkg
packages/System.Data.SQLite.Core.1.0.105.2/build/net20/System.Data.SQLite.Core.targets
*.targets
packages/System.Data.SQLite.Core.1.0.105.2/lib/net20/System.Data.SQLite.dll.config
*.config
packages/System.Data.SQLite.EF6.1.0.105.2/content/net40/app.config.install.xdt
*.xdt
KeymazeLocal/obj/Debug/KeymazeLocal.exe
*.pdb
KeymazeLocal/bin/Debug/KeymazeLocal.exe
*.pdb
KeymazeLocal/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KeymazeLocal/obj/Debug/KeymazeLocal.pdb