<div class="modal-body window-content clearfix">
    <div class="container form-group">        
        <div class="row">
            <div class="col-xs-3">
                <div class="row">
                    <xa-button resource-key="Importer" click="vm.openGPX()"></xa-button>
                </div>
                <div class="row">
                    <xa-slick-grid grid-options="vm.formModel.gridImport" height-offset="0"></xa-slick-grid>
                </div>
                <div class="row">
                    <xa-text-area style="height: 200px;"
                                  input-value="vm.formModel.currentPerformance.k_comment"></xa-text-area>
                </div>
            </div>
            <div class="col-xs-9">
                <xa-slick-grid class="initialFocus" grid-options="vm.formModel.gridPerformances" height-offset="0"></xa-slick-grid>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" id='myMap' style="position:relative; height:400px;"></div>
            <div class="col-xs-6"><canvas id="myChart" style="height: 400px;"></canvas></div>
        </div>
    </div>
</div>